/*
{
   "userAccountId": "UserAccounts/1398",
   "origin": "Sample Message",
   "destination": "07700378713",
   "messageContents": "This is a test message...",
   "hasRead": false,
   "status": 0,
   "statusLastUpdated": "2016-06-28T10:27:00.143336",
   "snmpSentDate": null,
   "networkReceivedDate": null,
   "timestamp": "2016-06-28T10:27:00.143336",
   "id": "messages/1633",
   "idInt": 1633
 }
*/

<ion-view title="Messages" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h5 id="messages-heading1" style="color:#000000;font-weight:400;" class=" ">Today</h5>
        <ion-list id="messages-list4" class=" " can-swipe="listCanSwipe">
          <!-- <ion-item class="item-icon-left  " id="messages-list-item8" ng-repeat="message in messages" ui-sref="tabsController.messages.detail({ id: message.idInt })"> -->
            <ion-item class="item-icon-left  " id="messages-list-item8" ng-repeat="message in messages" ui-sref="tabsController.messagedetail({ id: message.idInt })">
                <i class="icon ion-ionic"></i>{{message.origin}}<br />{{message.messageContents}}
                <ion-option-button class="button-danger" ng-click="delete(message.idInt)">
                  Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
