<ion-view title="Passcode" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="passcode-list7" class=" ">
            <ion-item id="passcode-list-item15" class="  ">Turn Passcode Off</ion-item>
            <ion-item id="passcode-list-item16" class="  ">Change Passcode</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <form id="passcode-form4" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="passcode-toggle5" class=" ">Touch ID</ion-toggle>
        </form>
    </ion-content>
</ion-view>